/*selector{
	property: value;
}*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
body{
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
}

header{
	font-size: 16px;
}

.logo {
     text-decoration: none;
     color: white;
     font-weight: bold;
     font-size: 30px;
 }

.navbar {
     margin-right: auto;
     margin-left: auto;
 }

.nav-item {
	font-weight:bold;
	text-decoration: none;
	padding-left: 50px;
	color: white;
}

.top-header {
	justify-content: space-between;
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 25px;
	display: flex;
}

.center-intro {
	text-align: center;
	width: 725px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.title {
	font-weight:bold;
	font-size: 56px;
}

.description {
	font-weight: normal;
	margin-top: 30px;
	font-size: 20px;
	line-height: 1.5;
}

.top-section {
	background-color: rgb(50, 97, 224);
	color: white;
	height: 625px;
	background-image: url("../assets/frog-left-top.svg");
	background-position: bottom left;
    background-repeat: no-repeat;
	background-size: 66%;
	background-position-x: -580px;
	background-image: url(<img src="../assets/bunny-top-right.svg");
}

.links-intro {
	padding-top: 10px;
}

.login-btn {
	border-radius: 50px;
	border: none;
	padding: 15px;
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

.btn-intro {
	border-radius: 50px;
	border: none;
	padding: 20px;
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

.invite-text {
    width: 32%;
    line-height: 1.5;
}

.hangout-text {
	width: 20%;
	line-height: 1.5;
	display: flex;
}

.fandom-text {
	width: 32%;
	line-height: 1.5;
}

.call-text: {
	text-align: center;
	line-height: 1.5;

}
.paragraphs {
	font-size: 20px;
	text-align: left;
}

.right {
    display: flex;
    margin-top: 90px;
    margin-left: 180px;
    margin-bottom: 350px;
 }

.left {
 	display: flex;
 	margin-top: 90px;
    margin-right: 40px;
    margin-left: 160px;
    margin-bottom: 350px;
 }

 .center {
 	text-align: center;
 	margin-top: 90px;
 	margin-left: 270px;
	margin-right: 270px;
	margin-bottom: 150px;
	line-height: 1.5;
 }

.middle {
	text-align: center;
}



